{% load i18n %}
{% load thumbnail %}

{% if detail %}
    <h1>{{ object.title }}</h1>
{% else %}
    <h2><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h2>
{% endif %}


{% if object.image %}
    <a href="{{ object.image.url }}">
    <img class="entry-picture" src="{% thumbnail object.image "250x300" as thumb %}
                    {{ thumb.url }}
                {% empty %}
                    {{ object.image.url }}
                {% endthumbnail %}" />
    </a>
{% endif %}
<div class="lead">
{{ object.lead }}
</div>
