{% extends "base.html" %}
{% load url from future %}
{% load i18n pagination_tags fnp_prevnext %}
{% load events_tags %}

{% block body %}
<h1>{% trans "Events" %}</h1>

{% autopaginate object_list 10 %}
{% for event in object_list %}
  {% event_short event %}
{% endfor %}

<p class="prevnext">
{% next_page %}
{% if past %}
    {% url "events" as prev_url %}
    {% trans "see upcoming events" as prev_label %}
    {% previous_page prev_url prev_label %}
{% else %}
    {% url "events_past" as prev_url %}
    {% trans "see past events" as prev_label %}
    {% previous_page prev_url prev_label %}
{% endif %}
</p>

{% endblock %}
