{% extends "base.html" %}
{% load url from future %}

{% block "titleextra" %}Pierwsza pomoc w prawie autorskim :: {% endblock %}
{% block "body" %}
<h1>Pierwsza pomoc w prawie autorskim</h1>

<div class="normal">
<p>Jeśli rozwiązania Twojego problemu nie ma na tej stronie,
<a href="{% url "migdal_entry_publications" "pierwsza-pomoc" %} ">zajrzyj do
naszego przewodnika</a>. Jeśli i to nie pomoże,
<a href="{% url 'questions_form' %}">zadaj nam pytanie</a>.</p>
  
<ul>
{% for question in object_list %}
    <li><a href="{{ question.get_absolute_url }}">{{ question }}</a></li>
{% endfor %}
</ul>
</div>

{% endblock %}