{% extends "base.html" %}
{% load url from future %}
{% load pagination_tags fnp_prevnext %}
{% load compressed %}

{% block "titleextra" %}Pierwsza pomoc w prawie autorskim :: {% endblock %}
{% block "body" %}
<h1>Pierwsza pomoc w prawie autorskim</h1>

<div class="normal">
<h2>Zadaj nam pytanie!</h2>
<p>Jeżeli masz pytanie dotyczące prawa autorskiego, którego nie ma na poniższej liście, i na które nie znalazłeś/znalazłaś
odpowiedzi w <strong><a href="{% url 'migdal_entry_publications' 'pierwsza-pomoc' %}">przewodniku
po prawie autorskim</a></strong>, możesz je nam zadać
<strong><a href="{% url 'questions_form' %}">za pomocą specjalnego formularza</a></strong>.

<p>Na pytania odpowiada dr Krzysztof Siewicz, prawnik
specjalizujący się w prawnych aspektach przetwarzania informacji. Dr
Siewicz jest pracownikiem Centrum Otwartej Nauki ICM UW, adiunktem w
Katedrze Prawa Informatycznego WPiA UKSW oraz of counsel kancelarii
prawnej GWW LEGAL.</p>

<p>Dr Krzysztof Siewicz ukończył Wydział Prawa i Administracji
Uniwersytetu Warszawskiego oraz uzyskał dyplom LLM Central European
University w Budapeszcie. Doktorat o ochronie wolności użytkowników
oprogramowania obronił na Uniwersytecie w Lejdzie (Holandia). Jest
autorem szeregu publikacji naukowych poświęconych korzystaniu z
technologii informacyjno-komunikacyjnych oraz posiada wieloletnie
doświadczenie doradcze w tej tematyce.</p>

<div id="questions-filter">

    {% if tag %}<a href=".">Wyświetl wszystkie</a> lub w{% else %}W{% endif %}ybierz kategorię tematów:
    <div id="questions-categories">
    <a href="#" data-category-id="0">bez kategorii</a>
    {% for category in tag_categories %} /
            <a href="#" style="font-size: {{category.factor}}em;" {% if tag.category == category %}class="selected"{% endif %} data-category-id="{{category.id}}">{{category}}</a>
    {% endfor %}
    </div>

    <div id="questions-subjects">
    {% for category_id, tag_list in tag_lists.items %}
        <div class="questions-tags-group" data-category-id="{{category_id}}">
        Wyświetl tylko na temat:
        {% for atag in tag_list %} {% if not forloop.first %}/{% endif %}
            {% if atag == tag %}<strong>{{ atag }}</strong>
            {% else %}<a href="?tag={{ atag.slug }}">{{ atag }}</a>
            {% endif %}
        {% endfor %}
        </div>
    {% endfor %}
    </div>
</div>

<h2>Odpowiedzi na już zadane pytania
    {% if tag %}na temat: {{ tag }}{% endif %}
    ({{ object_list.count }}):</h2>

{% autopaginate object_list 20 %}

<ul class='questions'>
{% for question in object_list %}
    <li><a href="{{ question.get_absolute_url }}">{{ question }}</a>
    </li>
{% endfor %}
</ul>

</div>

{% prevnext %}


{% endblock %}

{% block "extra_css" %}
    {% compressed_css 'questions' %}
{% endblock %}

{% block "extra_js" %}
    {% compressed_js 'questions' %}
{% endblock %}