{% extends "base.html" %}

{% block titleextra %}{{ question|linebreaksbr }} :: {% endblock %}
{% block body %}
<h1>{{ question|linebreaksbr }}</h1>

<div class="normal">
{% if question.tags.all.count %}
<p>Tematy: 
{% for tag in question.tags.all %}
    <a href="{% url 'questions' %}?tag={{ tag.slug }}">{{ tag }}</a>{% if not forloop.last %} / {% endif %}
{% endfor %}
{% endif %}
</p>

{{ question.answer }}

<p>{{ question.answered_by }}</p>

<p><a href="{% url 'questions' %}">Wróć do listy pytań.</a></p>

</div>
{% endblock %}
