.event {
  margin-top: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #8b8b87; }
  .event h2 {
    color: #01519a;
    font-weight: normal;
    font-size: 1.3em;
    margin-bottom: 1.1em; }
  .event a {
    display: block;
    color: #363a3b; }
  .event .description {
    margin-top: 1.4em; }
