{% extends "base.html" %}
{% load i18n chunks %}

{% block "titleextra" %}{{ form.form_title }} :: {% endblock %}

{% block "body" %}
    <style>
        #id_thematic_track {
            list-style: none;
        }
        #id_thematic_track label {
            font-weight: normal;
        }
        #id_thematic_track label:before {
            content: '';
        }
    </style>

    <h1>{% block contact_form_title %}{{ form.form_title }}{% endblock %}</h1>

    {% if not form.started %}
        <div class="form-info">
            {% chunk "contact_form__"|add:form.form_tag|add:"__not_started" %}
        </div>
    {% else %}
        {% if form.closed %}
            <div class="form-info">
                {% chunk "contact_form__"|add:form.form_tag|add:"__closed" %}
            </div>
        {% else %}
             <div class="form-info">
                {% chunk "contact_form__"|add:form.form_tag|add:"__running" %}
            </div>

            <form method="POST" action="." enctype="multipart/form-data" class="submit-form">
              {% csrf_token %}
              <table>
                {{ form.as_table }}
                <tr><td></td><td><button>{% block contact_form_submit %}{{ form.submit_label }}{% endblock %}</button></td></tr>
              </table>
            </form>
        {% endif %}
    {% endif %}

<script type="text/javascript" src="/static/js/prefill.js"></script>

{% endblock %}
