{% load i18n %}
{% load thumbnail %}

{% if detail %}
    <h1>{{ object.title }}</h1>
{% else %}
    <h2><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h2>
{% endif %}


<div class="entry-data">
{% if request.LANGUAGE_CODE == 'pl' %}
    {% if object.published_en %}
        {% language 'en' %}
            <a href="{{ object.get_absolute_url }}">English version</a>
        {% endlanguage %}
    {% endif %}
{% elif object.published_pl %}
    {{ request.LANGUAGE_CODE }}
    {% language 'pl' %}
        <a href="{{ object.get_absolute_url }}">polska wersja</a>
    {% endlanguage %}
{% endif %}
</div>


{% if object.image %}
    <img class="entry-picture" src="{% thumbnail object.image "250x300" as thumb %}
                    {{ thumb.url }}
                {% empty %}
                    {{ object.image.url }}
                {% endthumbnail %}" />
{% endif %}
<div class="lead">
{{ object.lead }}
</div>
