<!DOCTYPE html>
{% load url from future %}
{% load i18n static %}
{% load fnp_common menu_tags migdal_tags events_tags fnp_share fnp_lang %}
{% load compressed %}
<html prefix="og: http://ogp.me/ns#">
    <head>
       <title>{% block "titleextra" %}{% endblock %}{% trans "Right to Culture" %}</title>
       <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.png" %}" />
        {% compressed_css 'base' %}

        <meta charset="UTF-8" />
        <meta property='og:url' content='{% block "ogurl" %}{% url 'migdal_main' %}{% endblock %}' />
        <meta property='og:title' content='{% block "ogtitle" %}{% trans "Right to Culture" %}{% endblock %}' />
        <meta property='og:site_name' content='{% trans "Right to Culture" %}' />
        <meta property='og:description' content='{% block "ogdescription" %}Prawokultury.pl to strona edukacyjna mająca za zadanie w przystępny i rzetelny sposób informować o wszelkich kwestiach związanych z prawem autorskim.{% endblock %}' />
        <meta property='og:type' content='{% block "ogtype" %}website{% endblock %}' />
        <meta property='og:image' content='{% block "ogimage" %}{{ "/static/img/square-logo.png"|build_absolute_uri:request }}{% endblock %}' />
        <meta property='og:locale' content='pl_PL' />
    </head>
    <body>
    <div id="body">
        <div id="header-bar">
        <div class="bar-left">
            <a id="logo" href="{% url "migdal_main" %}">
                <img alt="{% trans "Right to Culture" %}"
                    src="{% static "img/logo.png" %}" /></a>
        </div>
        <div class="bar-right">
            <div class="org-fnp">
                <span>{% trans "Organizer" %}</span><br/>
                <a href="http://nowoczesnapolska.org.pl">
                    <img src="{% static 'img/logo-fnp.png' %}"
                        alt="{% trans "Modern Poland Foundation" %}" /></a>
            </div><div class="org-trust">
                <span>{% trans "Sponsor" %}</span><br/>
                <a href="http://ceetrust.org">
                    <img src="{% static 'img/logo-trust.png' %}"
                        alt="{% trans "Trust for Civil Society in Central and Eastern Europe" %}" /></a>
            </div>
        </div>
        <div style="clear: both;"></div>
        </div>

        <div id="menu-bar">
        <div class="bar-right">
            <form id="search-form" method="GET" action="{% url 'search' %}"><input name="q" /><button>
                <img src="{% static "img/search.png" %}" alt="{% trans "Search" %}" />
            </button></form>
        </div>
        <ul id="menu" class="bar-left">
            {% block "main_menu" %}
                {% main_menu %}
            {% endblock %}
            <li id="item-lang">{% lang_switcher %}</li>
        </ul>
        <div style="clear: both;"></div>
        </div>

        <div id="main-bar">
        <div id="sidebar" class="bar-right">
            {% block "sidebar" %}
                <div class="sidebar-box">
                    <h3><a href="{% url 'events' %}">{% trans "Upcoming events" %}</a></h3>
                    {% events_box %}
                </div>
                <div id="sidebar-box-categories" class="sidebar-box">
                    {% categories 'topics' %}
                    {% categories 'types' %}
                </div>
                <div class="sidebar-box social">
                    <a href="{% url 'migdal_main_feed' %}" title="RSS feed">
                        <img src="{% static 'img/rss.png' %}" alt="RSS feed" /></a>
                    {% url 'migdal_main' as main_url %}
                    {% trans "Right to Culture" as site_name %}
                    {% share main_url site_name "big" %}
                </div>
                <div class="sidebar-box">
                    <h3>{% trans "Latest comments" %}</h3>
                    {% last_comments %}
                </div>
            {% endblock %}
        </div>
        <div id="content" class="bar-left">
            {% block "body" %}{% endblock %}
        </div>
        <div style="clear: both;"></div>
        </div>

        <div id="footer-bar">
            <p class="footer-item">
                <strong>Fundacja Nowoczesna Polska</strong><br/>
                <br/>
                ul. Marszałkowska 84/92 lok. 125<br/>
                00-514 Warszawa<br/>
                tel/fax: +48 22 621 30 17<br/>
                e-mail: fundacja@nowoczesnapolska.org.pl<br/>
            </p>
            <p class="footer-item">
                <br/><br/>
                KRS: 0000070056<br/>
                REGON: 017423865<br/>
                Nr konta: 46 10201097 0000 7502 0001 6766
            </p>
            <p class="footer-item">
                <br/><br/>
                {% trans "If not explicitly stated otherwise, all texts are licensed under the <a href='http://creativecommons.org/licenses/by-sa/3.0/'>Creative Commons Attribution-Share Alike</a> free license." %}
            </p>

            <div style="clear: both;"></div>
        </div>

    </div>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js" charset="utf-8"></script>
    {% compressed_js 'base' %}
    {{ piwik_tag|safe }}
    </body>
</html>
