{% extends "base.html" %}
{% load comments gravatar i18n %}
{% load migdal_tags markup_tags %}


{% block "main_menu" %}
    {% main_menu 'object' entry %}
{% endblock "main_menu" %}


{% block "body" %}

<div class="entry entry-detail entry-{{ entry.type }}">
<div class="entry-wrapped">

{% entry_begin form.target_object 1 %}
<div class="body">
{{ form.target_object.body }}
</div>

{% if form.target_object.get_type.commentable %}
    <div style="clear: both"></div>

    {% render_comment_list for form.target_object %}

    <h2 class="section">{% trans "Preview your comment" %}</h2>
    <div class="comments">

    <div class="comment preview">
        <img class="avatar" src="{% gravatar_for_email form.email.value 64 %}" alt="Avatar"/>
        <div class="comment-data">
        <div class="comment-author">{{ form.name.value }}</div>
        </div>
        <div class="body">{{ comment|textile_restricted_pl }}</div>
        <div style="clear: both"></div>
    </div>

    {% include "comments/form.html" %}

    </div>
{% endif %}
</div>
</div>

{% endblock %}
