{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load migdal_tags %}
{% load events_tags %}


{% block "body" %}
<h1>{% trans "Search results" %}</h1>

{% for result in page.object_list %}
  {% if result.model_name == "entry" %}
    {% entry_short result.object %}
  {% elif result.model_name == "event" %}
    {% event_short result.object %}
  {% endif %}
{% empty %}
<p>{% trans "No results found." %}</p>
{# Show some example queries to run, maybe query syntax, something else? #}
{% endfor %}

{% if page.has_previous or page.has_next %}
<p class="prevnext">
  {% if page.has_previous %}
    <a class="previous_page" href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% trans "previous" %}</a>
  {% endif %}
  {% if page.has_next %}
    <a class="next_page" href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% trans "next" %}</a>
  {% endif %}
{% endif %}

{% endblock "body" %}
