{% extends "base.html" %}
{% load comments i18n %}
{% load fnp_common migdal_tags fnp_share %}


{% block "titleextra" %}{{ entry.title }} :: {% endblock %}
{% block "ogtitle" %}{{ entry.title }}{% endblock %}
{% block "ogtype" %}article{% endblock %}
{% block "ogdescription"%}{{ entry.lead|striptags|truncatewords:10 }}{% endblock %}
{% block "ogimage" %}{% spaceless %}
{% if entry.image %}
    {{ entry.image.url|build_absolute_uri:request }}
{% else %}
    {{ block.super }}
{% endif %}
{% endspaceless %}{% endblock %}


{% block "body" %}

{% if not entry.published %}
    <p class="warning">{% trans "This entry hasn't been published yet." %}</p>
{% endif %}

<div class="entry entry-detail entry-{{ entry.type }}">
<div class="entry-wrapped">

{% entry_begin entry 1 %}
<div class="body">
{{ entry.body }}
</div>

<div style="clear: both;"></div>

<div class="toolbar">
<div class="social">
    {% share object.get_absolute_url object.title %}
</div>
</div>

<div style="clear: both"></div>

{% if entry.get_type.commentable %}
    {% render_comment_list for entry %}
    <div class="comments">
    {% entry_comment_form entry %}
    </div>
{% endif %}
</div>
</div>

{% endblock %}