{% extends "base.html" %}
{% load comments i18n %}
{% load migdal_tags %}


{% block "main_menu" %}
    {% main_menu 'object' entry %}
{% endblock "main_menu" %}


{% block "body" %}

<div class="entry entry-detail entry-{{ entry.type }}">
<div class="entry-wrapped">

{% entry_begin entry 1 %}
<div class="body">
{{ entry.body }}
</div>
<div style="clear: both"></div>

{% if entry.get_type.commentable %}
    {% render_comment_list for entry %}
    <div class="comments">
    {% entry_comment_form entry %}
    </div>
{% endif %}
</div>
</div>

{% endblock %}