{% load i18n %}
{% load comments %}
{% load migdal_tags %}


<div class="entry entry-short entry-{{ object.type }}">
{% entry_begin object %}

{% if object.has_body %}
    <a href="{{ object.get_absolute_url }}">{% trans "read more" %}</a>
{% endif %}

{% if object.get_type.commentable %}
{% get_comment_count for object as comment_count %}
<a href="{{ object.get_absolute_url }}#comment">
{% blocktrans count comment_count as c %}{{c}} comment{% plural %}{{c}} comments{% endblocktrans %}
</a>
{% endif %}
</div>