{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load pagination_tags %}
{% load migdal_tags %}


{% block "main_menu" %}
    {% if category %}
        {% main_menu 'object' category %}
    {% elif entry_type %}
        {% main_menu 'entry_type' entry_type.db %}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock "main_menu" %}


{% block "body" %}

{% if category %}
    <h1>{% trans "Category" %}: {{ category }}
    <!--a href="{% url 'migdal_category_feed' category.slug %}">RSS</a-->
    </h1>
{% elif entry_type %}
    <h1>{{ entry_type|capfirst }}
    <!--a href="{% url 'migdal_entry_list_'|add:entry_type.db|add:'_feed' %}">RSS</a-->
    </h1>
{% endif %}

{% if object_list.promobox and request.page == 1 %}
<div id="promobox">
<ul id="promobox-switcher">
{% for object in object_list.promobox %}
    <li {% if forloop.counter == 1 %} class="active"{% endif %}>
        <a href="{{ object.get_absolute_url }}"
        >{{ forloop.counter }}</a>
    </li>
{% endfor %}
</ul>

<div id="promobox-wrapper">
<ul class="promobox">
{% for object in object_list.promobox %}
    {% entry_promobox object forloop.counter %}
{% endfor %}
</ul>
</div>

</div>
{% endif %}

{% if submit %}
    <p class="submit-link">
    <a href="{% url 'migdal_submit' %}">{% trans "Submit a new story." %}</a>
    </p>
{% endif %}


{% autopaginate object_list 10 %}
{% for object in object_list %}
    {% entry_short object %}
{% endfor %}
{% paginate %}

{% endblock %}