{% load i18n %}
{% load gravatar thumbnail %}

<img class="avatar" src="{% gravatar_for_email object.author_email 64 %}" alt="Avatar"/>
{% if detail %}
    <h1>{{ object.title }}</h1>
{% else %}
    <h2><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h2>
{% endif %}

<div class="entry-data">
<div class="date">{{ object.date }}</div>
<div class="author">{{ object.author }}</div>

{% comment %}
{% if request.LANGUAGE_CODE == 'pl' %}
    {% if object.published_en %}
        {% language 'en' %}
            <a href="{{ object.get_absolute_url }}">English version</a>
        {% endlanguage %}
    {% endif %}
{% elif object.published_pl %}
        {% language 'pl' %}
            <a href="{{ object.get_absolute_url }}">polska wersja</a>
        {% endlanguage %}
{% endif %}
{% endcomment %}

<div class="categories">
{% for category in object.categories.all %}
    {% if forloop.counter != 1 %}/{% endif %}
    <a href="{{ category.get_absolute_url }}">{{ category }}</a>
{% endfor %}
</div>

</div>

{% if object.image %}
    <img class="entry-picture" src="{% thumbnail object.image "250x300" as thumb %}
                    {{ thumb.url }}
                {% empty %}
                    {{ object.image.url }}
                {% endthumbnail %}" />
{% endif %}
<div class="lead">
{{ object.lead }}
</div>
