{% load i18n %}
{% load comments %}
{% load migdal_tags fnp_share %}


<div class="entry entry-short entry-{{ object.type }}">
<div class="entry-wrapped">

{% entry_begin object %}

<div style="clear: both;"></div>

<div class="toolbar">
<div class="more">

{% if object.get_type.commentable %}
{% get_comment_count for object as comment_count %}
<a class="comments" href="{{ object.get_absolute_url }}#comment">
{% blocktrans count comment_count as c %}{{c}} comment{% plural %}{{c}} comments{% endblocktrans %}
</a>
{% endif %}

{% if object.body.raw %}
    <a class="read-more" href="{{ object.get_absolute_url }}">{% trans "read more" %}</a>
{% endif %}

</div>

<div class="social">
    {% share object.get_absolute_url object.title %}
</div>
</div>



<div style="clear: both"></div>
</div>
</div>
