{% load i18n %}

<ul class="event-list">
{% for event in objects %}
    <li class="event-list-item">
        <a target="_blank" href="{{ event.link }}">
            <div class="date">
                <div class="day">{{ event.date|date:"j" }}</div>
                <div class="mon">{{ event.date|date:"b" }}</div>
            </div>
            <div class="description">
                {{ event.title }}
                ({{ event.organizer }}, {{ event.place }})
            </div>
            <div style="clear: both"></div>
        </a>
    </li>
{% endfor %}
</ul>
<!--p class="more"><a href="{% url 'events' %}">{% trans "more events" %}</a></p-->
