body {
    font-family: sans-serif;
    font-size: .625em;
    background: #edece7;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

#menu {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    text-transform: uppercase;
    margin: 0;
}
#menu #item-lang a {
    color: #0050a2;
}
#menu li {
    display: inline-block;
    position: relative;
    list-style: none;
    padding-left: 0;
    margin-right: 5em;
}
#menu li a {
    color: black;
}
#menu li.active {
    font-weight: bold;
}
#menu li.active:before {
    color: #004e98;
    content: "(";
    position: absolute;
    left: -.7em;
    font-size: 2em;
    top: -.25em;
}
#menu li.active:after {
    color: #004e98;
    content: ")";
    position: absolute;
    right: -.7em;
    font-size: 2em;
    top: -.25em;
}

.avatar {
    float: left;
    margin-left: -60px;
}
.entry {
    margin-left: 60px;
}
.entry h2 {
    margin: 0;
}
.entry-data {
    font-size: .8em;
}



.bar-right {
    width: 25em;
    float: right;
}
.bar-left {
    width: 70em;
    float: left;
}
#body {
    width: 96em;
    margin: auto;
    padding: 1em;
}
#footer-bar {
    color: #4b4c47;
    border-top: 1px solid #acacaa;
    padding-top: 1.5em;
    margin-top: 4em;
}
.footer-item {
    width: 24em;
    float: left;
}
#search-form input {
    font-size: 1.1em;
    width: 18em;
    border: none;
    border-radius: 1.5em 0 0 1.5em;
    background: white;
    color: black;
    height: 2em;
}
#search-form button {
    font-size: 1.1em;
    width: 3em;
    height: 2em;
    border: none;
    background: #3bb0a8;
    color: white;
    border-radius: 0 1em 1em 0;
}

.sidebar-box {
    border-top: 1px solid #8a8b85;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    clear: both;
}

.sidebar-box .event-list {
    list-style: none;
    padding-left: 0;
}
.sidebar-box .more {
    text-align: right;
}
.sidebar-box .event-list li {
    margin-top: .8em;
}

.sidebar-box .event-list .date {
    clear: both;
    float: left;
    background: #494949;
    color: #69efe6;
    width: 4em;
    height: 3.8em;
    border-radius: .5em;
    padding: .5em;
    text-align: center;
    margin-right: 1em;
}
.sidebar-box .event-list a {
    display: block;
}
.sidebar-box .event-list .date .day {
    font-size: 1.8em;
    font-style: italic;
}
.sidebar-box .event-list .date .mon {
    text-transform: uppercase;
}

#sidebar-box-categories ul {
    width: 50%;
    display: table-cell;
    list-style: none;
    padding-left: 0;
    padding-right: 4em;
}
#sidebar-box-categories .category-taxonomy-topics a {
    color: #31ada3;
}

#sidebar-box-categories .category-taxonomy-types a {
    color: #ff6100;
}


sdiv {
    border: #ddd 1px solid;
}