@import url(//static.mdrn.pl/fonts/Lato-2.010/Lato-Regular.css);
@import url(//static.mdrn.pl/fonts/Lato-2.010/Lato-Bold.css);
@import url(//static.mdrn.pl/fonts/Lato-2.010/Lato-Italic.css);


body {
    font-family: 'Lato', sans-serif;
    font-size: .625em;
    background-color: #edece7;
    background-image: url('/static/img/bg.png');
    background-repeat: no-repeat;
    color: #363a3b;
    margin: 0;
    padding: 0;
    background-position: 50% 0;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

img {
    border: 0;
}


h1 {
    margin: 0 0 .5em 0;
    color: #01519a;
    font-size: 2em;
}

h2 {
    font-size: 1.2em;
    color: #01519a;
}

.warning {
    border: 1px solid #ddd;
    padding: 1em;
    background: #ffd;
    font-size: 1.3em;
}

.notice {
    font-size: 1.3em;
}
.normal {
    font-size: 1.3em;
}
.entry-wrapped {
.gallery{clear:both;}
.gallery-item{float:left; width:300px;text-align:center;margin-top:2em; p{min-height: 1.25em}}
.gallery-image{height:240px; width:300px; display: table-cell; vertical-align:middle;}
.gallery-image img{margin: 0 auto;display:block;}

}

.questions {
    li {
        margin-bottom: 1em;
    }
}
