.entry-wrapped img.avatar {
  float: left;
  margin: 0 0 0 -8em; }

.entry-short {
  border-bottom: 1px solid #8b8b87; }
  .entry-short .entry-wrapped {
    padding-top: .7em; }

.entry-wrapped {
  margin-left: 8em; }
  .entry-wrapped h1, .entry-wrapped h2 {
    margin: 0;
    color: #01519a;
    font-size: 1.3em; }
    .entry-wrapped h1 a, .entry-wrapped h2 a {
      color: #01519a; }
  .entry-wrapped h2.section {
    margin: 2em 0; }
  .entry-wrapped .entry-data {
    font-size: 1.3em;
    margin-top: 1.4em;
    margin-bottom: 1.4em; }
    .entry-wrapped .entry-data .date {
      color: #acacac; }
    .entry-wrapped .entry-data .author {
      font-weight: bold; }
    .entry-wrapped .entry-data .categories {
      font-style: italic; }
      .entry-wrapped .entry-data .categories a {
        color: black; }
  .entry-wrapped .lead {
    font-size: 1.3em; }
  .entry-wrapped .body {
    font-size: 1.3em; }
  .entry-wrapped .lead h2,
  .entry-wrapped .body h2 {
    font-size: 1em;
    font-weight: normal; }
  .entry-wrapped blockquote {
    position: relative;
    left: 1em;
    font-style: italic;
    margin-left: 1em; }
  .entry-wrapped .toolbar {
    font-size: 1.3em;
    margin-top: 1.4em;
    margin-bottom: 1.8em; }
    .entry-wrapped .toolbar .social a {
      margin-right: .6em; }
      .entry-wrapped .toolbar .social a img {
        vertical-align: middle; }
  .entry-wrapped .more {
    float: right;
    font-style: italic; }
    .entry-wrapped .more a {
      color: #acacac; }
    .entry-wrapped .more .read-more {
      margin-left: 1.5em; }
    .entry-wrapped .more .comments:after {
      content: url("/static/img/comments.png");
      margin-left: .7em; }
    .entry-wrapped .more .read-more:after {
      content: url("/static/img/read-more.png");
      margin-left: .7em; }
  .entry-wrapped img {
    margin: 1em; }

.entry-info .entry-wrapped,
.entry-publications .entry-wrapped {
  margin-left: 0; }
  .entry-info .entry-wrapped h1,
  .entry-publications .entry-wrapped h1 {
    font-size: 2em; }
  .entry-info .entry-wrapped img.entry-picture,
  .entry-publications .entry-wrapped img.entry-picture {
    margin-top: 1.5em; }

.entry-wrapped img.entry-picture {
  float: left;
  margin: 0 1.5em 1em 0; }

.entry-wrapped .lead ul {
  overflow: hidden;
  padding-left: 16px; }

.submit-link {
  margin-top: 1em;
  padding-bottom: 1em;
  height: 1.7em;
  border-bottom: 1px solid #8b8b87; }
  .submit-link a {
    color: black;
    font-size: 1.3em; }
  .submit-link a:before {
    content: url("/static/img/plus.png");
    vertical-align: top;
    margin-right: 1em; }

.comments {
  margin-left: 8em; }
  .comments .comment-form {
    border-top: 1px solid #494948; }
  .comments .comment-data {
    font-size: 1.3em;
    margin-top: 1.4em;
    margin-bottom: 1.4em; }
    .comments .comment-data .comment-date {
      color: #acacac; }
    .comments .comment-data .comment-author {
      font-weight: bold; }
  .comments .body {
    font-size: 1.3em; }

table.borders {
  border-collapse: collapse; }
  table.borders td {
    border: 1px solid #777;
    padding: .3em; }
