#footer-bar {
    color: #4b4c47;
    border-top: 1px solid #acacaa;
    padding-top: 1.5em;
    margin-top: 4em;
    margin-left: 1em;
    margin-right: 1em;
}

.footer-item {
    width: 24em;
    float: left;
}
