.form-info {
  font-size: 1.3em; }

.submit-form {
  margin-top: 3em; }
  .submit-form table {
    border-spacing: 0 .5em; }
  .submit-form tr {
    background-color: #fdfdfd; }
  .submit-form label {
    font-size: 1.2em;
    font-weight: normal; }
    .submit-form label h3 {
      display: inline; }
  .submit-form ul.errorlist {
    color: #e41b13;
    font-size: 1.2em;
    padding: 0 0 0 1.3em;
    margin: 0 0 .5em 0;
    list-style: url("/static/img/read-more.png"); }
  .submit-form input, .submit-form textarea, .submit-form select {
    font-size: 1.2em;
    border: 0;
    background-color: white;
    color: #363A3B;
    width: 100%;
    margin-bottom: .5em;
    border: 1px solid #EDECE7; }
  .submit-form th, .submit-form td {
    text-align: left;
    font-weight: normal;
    vertical-align: top;
    padding: .5em; }
  .submit-form .helptext {
    color: #acacac;
    font-size: 1.1em; }
    .submit-form .helptext a {
      color: #363A3B; }
  .submit-form .required label {
    font-weight: bold; }
    .submit-form .required label:before {
      content: '* '; }
  .submit-form .required ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .submit-form .required ul label {
      font-weight: normal; }
      .submit-form .required ul label:before {
        content: none; }
    .submit-form .required ul.errorlist {
      list-style: url("/static/img/read-more.png");
      padding: 0 0 0 1.3em;
      margin: 0 0 .5em 0; }
  .submit-form input[type="radio"] {
    width: auto; }
