.form-info {
    font-size: 1.3em;
}

.submit-form {
    margin-top: 3em;

    table {
        border-spacing: 0 .5em;
    }

    tr {
        background-color: #fdfdfd;
    }

    label {
        font-size: 1.2em;
        font-weight: normal;
        h3 {
            display: inline;
        }
    }

    ul.errorlist {
        color: #e41b13;
        font-size: 1.2em;
        padding: 0 0 0 1.3em;
        margin: 0 0 .5em 0;
        list-style: url("/static/img/read-more.png");
    }

    input, textarea, select {
        font-size: 1.2em;
        background-color: white;
        color: #363A3B;
        margin-bottom: .5em;
        border: 1px solid #aeada8;
    }

    textarea, select, input[type=text], input[type=email] {
        width: 100%;
    }

    th, td {
        text-align: left;
        font-weight: normal;
        vertical-align: top;
        padding: .5em;
    }

    .helptext {
        color: #acacac;
        font-size: 1.1em;
        a {
            color: #363A3B;
        }
    }

    tr ul {
        list-style: none;
        margin: 0;
        padding: 0;
        &.errorlist {
            list-style: url("/static/img/read-more.png");
            padding: 0 0 0 1.3em;
            margin: 0 0 .5em 0;
        }
    }

    .required {
        label {
            font-weight: bold;

            &:before {
                content: '* ';
            }
        }

        ul {
            label {
                font-weight: normal;

                &:before {
                    content: none;
                }
            }
        }
    }


    input[type="radio"] {
        width: auto;
    }
}
