#header-bar {
  height: 13em;
  padding-top: 3em; }
  #header-bar .bar-left {
    margin-left: -1.1em; }
  #header-bar .social {
    padding-top: 2em;
    padding-bottom: 2em; }
    #header-bar .social a {
      margin-right: 1.8em; }
      #header-bar .social a img {
        vertical-align: middle; }

.org-fnp, .org-trust {
  display: inline-block;
  width: 8em; }
  .org-fnp span, .org-trust span {
    color: #888; }
  .org-fnp img, .org-trust img {
    margin-left: -0.3em;
    margin-top: 1em; }

.org-fnp {
  margin-right: 4em; }
