.sidebar-box {
    border-top: 1px solid #8a8b85;
    padding-top: 1.5em;
    padding-bottom: .9em;
    clear: both;

    h3 {
        font-size: 1.4em;
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 1.1em;

        a {
            color: #363A3B;
        }
    }

    .more {
        text-align: right;
    }

    .event-list {
        list-style: none;
        padding-left: 0;

        li {
            margin-top: 1em;
        }

        a {
            display: block;
            color: #363a3b;;
        }

        .date {
            clear: both;
            float: left;
            background: #e63612;
            background-image: url('/static/img/calendar.png');
            background-repeat: no-repeat;
            color: #71ece6;
            width: 5em;
            height: 4.8em;
            border-radius: .5em;
            text-align: center;

            .day {
                font-size: 2.4em;
                font-style: italic;
            }
            .mon {
                font-size: 1.1em;
                text-transform: uppercase;
                margin-top: -.3em;
            }
        }

        .description {
            font-size: 1.1em;
            margin-left: 5.5em;
        }
    }
}

#sidebar-box-categories {
    ul {
        width: 50%;
        display: table-cell;
        list-style: none;
        padding-left: 0;
        padding-right: 4em;
        font-size: 1.4em;
        padding-right: 3.4em;
    }
    .category-taxonomy-topics a {
        color: #31ada3;
    }

    .category-taxonomy-types a {
        color: #ff6100;
    }
}


#latest-comments {
    list-style: none;
    padding: 0;
    margin: 0;

    a {
        display: block;
        color: #363a3b;
    }

    li {
        margin-bottom: 1.5em;
    }
    li:after {
        content: url("/static/img/dot.png");
        display: block;
        margin: 1.5em 1.5em 0 0;
        text-align:center;
    }

    li:last-child {
        margin-bottom: 0;
    }
    li:last-child:after {
        display: none;
    }

    .title {
        font-size: 1.1em;
        font-weight: bold;
    }
    .author {
        color: #acacac;
        font-size: 1.1em;
    }
    .body {
        margin-top: 1.3em;
        font-size: 1.1em;
    }
}